// Utility classes

// Font weights
.f-500 {
    font-weight: 500 !important;

    >* {
        font-weight: 500 !important;
    }
}

// Shadows
.nts-shadow-column>.col-inner {
    box-shadow: $shadow-md;
}

// Border radius
.nts-radius-1 img {
    border-radius: $radius-special;
}

// Base styles
body {
    font-family: 'SVN-Sofia Pro', sans-serif;
} 