.cta-primary {
    border-radius: 12px;
    background: #FFF;
    width: fit-content;
    padding: 12px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    color: var(--black);

    a {
        color: var(--primary);
        text-decoration: none;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -0.32px;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

    }

    &::before {
        content: "";
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 100%;
        position: absolute;
        background-color: var(--secondary);
        z-index: 0;
        transition: all .3s linear;
        top: -100%;
        left: -100%;
        transform: translateY(-50%);
    }

    &::after {
        content: "";
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 100%;
        position: absolute;
        background-color: var(--secondary);
        z-index: 0;
        transition: all .3s linear;
        bottom: -100%;
        right: -100%;
        transform: translateY(50%);
    }

    &:hover {
        a {
            color: #FFF;
        }

        &::before {
            top: 10%;
            left: -30%;
        }

        &::after {
            bottom: 10%;
            right: -30%;
        }
    }

    &.has-shadow {
        box-shadow: 0 0 35px 0 #CEE2F1;
    }
}



.btn-cricle {
    border-radius: 100%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    i{
        z-index: 1;
    }

    &::before {
        content: "";
        width: 135%;
        aspect-ratio: 1/1;
        border-radius: 100%;
        position: absolute;
        background-color: var(--secondary);
        z-index: 0;
        transition: all .3s linear;
        top: -100%;
        left: -100%;
        transform: translateY(-50%);
    }

    &::after {
        content: "";
        width: 135%;
        aspect-ratio: 1/1;
        border-radius: 100%;
        position: absolute;
        background-color: var(--secondary);
        z-index: 0;
        transition: all .3s linear;
        bottom: -100%;
        right: -100%;
        transform: translateY(50%);
    }

    &:hover {
        color: #FFF;
        &::before {
            top: 10%;
            left: -30%;
        }

        &::after {
            bottom: 10%;
            right: -30%;
        }
    }
}
