.project-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(58, 86, 158, 0.1);
    transition: all 0.3s ease-in-out;
    max-width: 500px;

    &:hover {
        box-shadow: 0 0 15px rgba(58, 86, 158, 0.5);

        .project-image {
            transform: scale(1.05);
        }
        .project-title {
            color: var(--primary-dark);
        }
    }

    .project-image {
        border-radius: 0.5rem;
        position: relative;
        padding-top: 56.25%;
        margin-bottom: 1rem;
        transition: all 0.3s ease-in-out;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
        }
    }

    .project-action {
        position: absolute;
        bottom: -1px;
        right: -1px;

        .btn-cricle {
            border-radius: 2rem 2rem 0 2rem;
        }
    }

    .project-category {
        background-color: var(--secondary);
        padding: 0.1rem 0.5rem;
        border-radius: 0.25rem;
        color: var(--white);
        font-size: 12px;
        display: inline-block;
        font-weight: 500;
    }

    .project-title {

        @include multiline-ellipsis(1.5rem, 3, 1rem, 4.5rem);
        font-weight: 700;
        color: var(--primary);
        margin-top: 0.5rem;
    }
}